/*
author:wesley;
email:eternity#163.com   I think you can understand!
*/

/*reset*/

::selection {
  background: #1fa67a;
  color: #FFF;
}
::-moz-selection {
  background: #1fa67a;
  color: #FFF;
}
.wrap {
  width: 100%;
}
.s-color-one {
  border-bottom: 1px solid #dbdbdb;
}
.s-color-two {
  border-bottom: 1px solid #dbdbdb;
  background: #eee;
}
.s-color-one ul,
.s-color-one ol,
.s-color-two ul,
.s-color-two ol {
  padding: 0;
  margin: 0;
}
.s-space {
  padding: 30px 0 30px 0;
}
.s-space a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
.s-space a:hover {
  text-shadow: -3px -3px 3px #eee;
  color: #1abc9c;
}
.s-space .col-md-8 {
  overflow: hidden;
}
.s-space .col-md-4 {
  overflow: hidden;
}
.navbar-fixed-top {
  z-index: 300;
}
.navbar {
  margin-bottom: 0;
  border-bottom: 0;
  background: #353535;
  z-index: 500;
}
/*reset*/

/*index style*/

.bg-color {
  background-color: #f8f8f8;
}
.s-box-img {
  padding-top: 15px;
}
.s-box-img img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 255px;
  margin-bottom: 10px;
}
.s-box-left {
  padding-left: 0px;
}
.s-news-con {
  padding-top: 15px;
}
.s-news-con li {
  padding-left: 15px;
  line-height: 28px;
  background: url(../images/y-sprite.png) no-repeat 0 -20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s-news-con li:hover {
  padding-left: 12px;
}
.s-news-con span {
  float: right;
  color: #7c7c7c;
}
.s-news-con h3 {
  margin-top: -5px;
  color: #1abc9c;
}
.s-top-right span {
  float: right;
}
.s-top-right {
  border: 5px solid #fff;
  box-shadow: 2px 2px 5px #BDB896;
  margin-top: 15px;
}
.s-top-right h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.s-top-right ul {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px dashed #999
}
.s-top-right li {
  padding-left: 15px;
  line-height: 29px;
  background: url(../images/s-sprite.png) no-repeat 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s-top-right li:hover {
  padding-left: 12px;
}
.s-tittle {
  border-bottom: 3px solid #1abc9c;
  overflow: hidden;
}
.s-tittle p {
  font-size: 20px;
  line-height: 1.2;
  display: inline-block;
  float: left;
  color: #fff;
  margin: 0;
  background: #1abc9c;
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
}
.s-tittle span {
  float: right;
  padding: 0 7px;
  line-height: 32px;
}
/*widthout border
	.s-block{border-left:1px solid #999;border-right:1px solid #999;border-bottom:1px solid #999;}
	*/

.s-block ul {
  border-top: 1px dashed #999;
  padding: 15px 0;
}
.s-block li {
  padding-left: 15px;
  line-height: 29px;
  background: url(../images/s-sprite.png) no-repeat 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.s-block li:hover {
  padding-left: 12px;
}
.s-block span {
  float: right;
}
.s-block-img {
  padding: 0 15px;
  margin-left: -10px;
}
.s-block-img .col-md-6 {
  padding: 15px 0 0 0;
}
.s-block-img p {
  line-height: 24px;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.s-footer {
  padding: 15px 0;
  background-color: #222;
  color: #dbdbdb;
  line-height: 24px;
}
.s-footer .active {
  color: #dbdbdb;
}
.s-footer a {
  color: #dbdbdb;
}
.s-footer a:hover {
  color: #fff;
}
.s-footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.s-footer-info {
  background: #1a1a1a;
  color: #dbdbdb;
  line-height: 45px;
}
.s-footer-info p {
  min-height: 45px;
  line-height: 45px;
  margin: 0;
  display: inline-block;
}
.s-footer-info span {
  padding: 8px;
}
.s-footer-info a {
  color: #dbdbdb;
}
.f-link a:hover {
  padding: 3px 5px;
}
.f-link a:hover {
  padding: 3px 5px;
  background: #fff;
  color: #333;
  text-decoration: none;
}
.s-block-img .col-md-6 .col-sm-6 {
  overflow: hidden;
  padding: 10px;
}
/*index style*/

/*new list*/

.block-node-recent tr {
  border-bottom: 0;
  line-height: 32px;
}
.block-node-recent .node-title {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
}
/*list page article page style*/

.s-list {
  padding: 20px 0 30px 0;
}
.top-show {
  color: #fff;
}
.top-show .container {
  padding-top: 50px;
  min-height: 270px;
}
.top-show h1 {
  font-size: 37px;
}
.top-show p {
  font-size: 21px;
  color: #eee;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.top-show a:hover {
  text-decoration: none;
}
.color-front {
  background: #1fa67a url(../images/bg.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.top-front {} .color-news {
  background: #6f5499 url(../images/bg.png);
}
.top-news {} .color-drupal {
  background: #0A64A4 url(../images/bg-drupal.png) top center no-repeat;
}
.top-drupal {} .color-css {
  background: #e48632 url(../images/bg-css.png) top center no-repeat;
}
.top-css {} .color-js {
  background: #1fa67a url(../images/bg-js.png) top center no-repeat;
}
.top-js {} .color-seo {
  background: #B13938 url(../images/bg-seo.png) top center no-repeat;
}
.top-seo {} .color-resource {
  background: #0F8886 url(../images/bg.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.top-resource {} .color-blog {
  background: #3E4649 url(../images/blogbg.jpg);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.top-blog {} .list-item {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px dashed #dbdbdb;
}
.list-item h2:hover {
  margin-left: -3px;
  text-shadow: -3px -3px 3px #eee;
}
.node-subinfo {
  line-height: 36px;
  margin-bottom: 10px;
}
.article-list-bar h2 {
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0;
}
.article-list-bar ul {
  padding: 0;
  margin: 0;
}
.article-list-bar li {
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
}
.article-list-bar li:hover {
  border-left: 3px solid #428bca;
  background: #eee;
}
.article-list-bar li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-list-bar li a:hover {
  text-decoration: none;
}
/*node,comment style*/

.node hr,
#comments hr {
  margin: 0;
  border-top: 1px solid #dbdbdb;
}
/*comment style*/

/*login*/

#user-login {
  min-height: 730px;
  padding: 150px;
  margin: 0 auto;
}
/*login*/

/* style for responsive*/

@media(min-width: 970px) {
  .list-item {
    padding: 0 15px 15px 15px;
  }
  .list-item:hover {
    background: #F6F6F6;
  }
}
@media(max-width: 992px) {
  .s-color-one span, .s-color-one span, .s-color-two span, .s-color-two span {
    display: none;
  }
}
.space-block {
  height: 300px;
}